.landing {
  min-height: calc(100vh -3rem);
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landing .wrapper {
  width: fit-content;
  text-align: center;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-dark);
}

.landing .wrapper .logo {
  width: 5rem;
}
.landing_title,
.landing_p{
  color:white;
  font-weight:bolder;
}

.landing_title{
  font-family: "Russo One", sans-serif;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 2.8em;
  transform: translatey(25px);
  background: linear-gradient( cornflowerblue 30%, white, darkmagenta 60%, cornflowerblue 100% );
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px silver;
  filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px magenta);
  animation: bg-shift 0.5s ease-in-out infinite alternate;
}

.landing_subtitle{
  
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 2em;
  transform: translatey(25px);
  background: linear-gradient( rgb(164, 100, 237) 30%, white, darkmagenta 60%, cornflowerblue 100% );
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px silver;
  filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px magenta);
  animation: bg-shift 0.5s ease-in-out infinite alternate;
}
.landing a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 0.75rem 2.5rem;
  background-color: var(--clr-primary);
  color: white;
  border-radius: 5px;
  /* font-family: var(--ff-mono); */
}

.landing i {
  margin-left: 0.5rem;
}

.landing .bg-logo {
  position: absolute;
  width: 2.5rem;
  animation: tilt-n-move-shaking 5s infinite;
  z-index: -1;
}

.landing .graph {
  max-width: 100%;
  object-fit: cover;
}
.landing-btn {
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin-bottom: 30px;
  
}

@media (max-width: 1200px) {
  .landing .wrapper {
    min-height: 60vh;
    padding: 1rem;
  }

  .landing .graph {
    max-width: 100%;
    height: 30vh;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  .landing h1 {
    font-size: 3rem;
  }

  .landing p {
    font-size: 1.1rem;
  }
}

.landing .bg-logo.css {
  top: 10%;
  left: 15%;
  animation: vertical-shaking 5s infinite;
}




@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  50% {
    transform: translate(0, 0) rotate(0eg);
  }

  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateY(-9px);
  }

  35% {
    transform: translateY(-9px) rotate(17deg);
  }

  55% {
    transform: translateY(-9px) rotate(-17deg);
  }

  65% {
    transform: translateY(-9px) rotate(17deg);
  }

  75% {
    transform: translateY(-9px) rotate(-17deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes skew-x-shake {
  0% {
    transform: skewX(-15deg);
  }

  5% {
    transform: skewX(15deg);
  }

  10% {
    transform: skewX(-15deg);
  }

  15% {
    transform: skewX(15deg);
  }

  20% {
    transform: skewX(0deg);
  }

  100% {
    transform: skewX(0deg);
  }
}

@keyframes skew-y-shake {
  0% {
    transform: skewY(-15deg);
  }

  5% {
    transform: skewY(15deg);
  }

  10% {
    transform: skewY(-15deg);
  }

  15% {
    transform: skewY(15deg);
  }

  20% {
    transform: skewY(0deg);
  }

  100% {
    transform: skewY(0deg);
  }
}
