
.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  padding-left: 0; 
  padding-right: 0;
  color: rgb(0, 0, 0);
}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Yellowtail&display=swap");
:root {
	--navy: #0c0c4a;
	--dark-navy: #060726;
	--pink: rgba(213, 84, 213, 1);
	--pink2: rgba(213, 84, 213, 0.7);
}
h1 {
	color: transparent;
	font-family: "Russo One", sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	
	background: linear-gradient(
		cornflowerblue 30%,
		white,
		darkmagenta 60%,
		cornflowerblue 100%
	);
	background-size: contain;
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px silver;
	filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px magenta);
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}
h2 {
	color: white;
	
	font-weight: 100;
	font-size: 2.5em;
	
	text-shadow: 0 0 3px magenta, 0 0 7px magenta, 0 0 15px black, 0 0 15px black;
	animation: hover 1s ease-in-out infinite;
}
h3 {
  color: white;
font-family: "Russo One";
font-weight: 400;
font-size: 3em;
padding: 20px;
text-shadow: 0 0 3px rgb(233, 233, 233), 0 0 7px rgb(117, 66, 238), 0 0 15px black, 0 0 15px black;

}

.gamepage {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: calc(100vh - 200px); 
  padding: 0;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container{
    width: 100%;
    
    height: 100%;
    
    justify-content: center;
    align-items: center;
  
}

.login_page,
.signin_page{
  color: white;
  padding-top: 50px;
 
}

.home-container{
  padding: 150px;
  color :azure;
}
.homepage-title{
  color: transparent;
	font-family: "Russo One", sans-serif;
	text-transform: uppercase;
	font-size: 3em;
  padding-bottom: 60px;
	transform: translatey(2px);
	background: linear-gradient(
		cornflowerblue 30%,
		rgb(148, 0, 247),
		darkmagenta 60%,
		cornflowerblue 100%
	);
	background-size: contain;
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px silver;
	filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px magenta);
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}
.home-logout{
  margin-top: 350px;
}
.homepage-game-btn{
  transform: scale(1.05);
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #592f73;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.footer-content {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.nav-container{
  padding-bottom: 8px;
  padding-top:70px;
}
.attempts{
  color:aliceblue;
}
nav {
  height: 100px;
  width: 100%;
  padding-bottom: 20px;
  
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
  padding-left: 0; 
  padding-right: 0; 
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-weight: bolder;
}
.game-rules-container {
  text-align: center;
}

.game-rules-title {
  color: #6e418b;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.game-rules-ol {
  text-align: left;
  margin-left: 50px;
  color: rgb(219, 219, 219);
  font-size: 16px;
  line-height: 1.5;
}

.game-rules-text {
  color: rgb(250, 250, 250);
  font-size: 16px;
  line-height: 1.5;
}
.example-scores-table {
  width: 300px;
  margin: 20px auto;
  border-collapse: collapse;
}

.example-scores-table th,
.example-scores-table td {
  border: 1px solid #ccc;
  background-color: #6e418b;
  color:#f2f2f2;
  padding: 8px;
  text-align: center;
}

.example-scores-table th {
  background-color: #8836be;
  font-weight: bold;
}
.robot-container {
  position: relative;
  margin-top: 280px;
  margin-bottom: 50px;
}



.game {
  width: 100vw;
  height: calc(100vh - 450px);
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
}

.board {
  width: 450px;
  height: 550px;
  border: 1px solid black;
  display:inline-flex;
  flex-direction: column;
  
}

.row {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
}

.letter {
  flex: 1; 
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.letter.pressed {
 
  background-color: gray;
}
.letter.correct-letter {
  background-color: green;
}
.keyboard {
  width: 700px;
  
  height: 600px;
  
}
#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #4e4e4e;
}


.line1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.line2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.line3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: rgb(110, 65, 139);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.game-buttons{
  padding: 20px;
  
}

.game-buttons Button {
  margin-right: 10px; 
}

.gameOver{
  padding: 10px;
  padding: 20px;
  
}
.alert-guessed{
  background-color: #000;
}
.wrong-message {
	color: transparent;
	font-family: "Russo One", sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	transform: translatey(25px);
	background: linear-gradient(
		rgb(243, 92, 92) 30%,
		white,
		rgb(245, 92, 32) 60%,
		rgb(51, 11, 30) 100%
	);
	background-size: contain;
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px rgb(0, 0, 0);
	filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px rgb(226, 31, 80));
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}

.wrong-word {
    color: white;
	font-family: "Russo One";
	font-weight: 300;
	font-size: 1.3em;
	padding: 30px;
	text-shadow: 0 0 3px rgb(233, 233, 233), 0 0 7px rgb(117, 66, 238), 0 0 15px black, 0 0 15px black;
	
}
.correct {
  color: green;
}

.failed {
  color: red;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* Style the loading container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black; 
}


.profile-container {
    width: 50%;
    padding: 100px;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scoreboard-container{
  text-align: center;
  padding: 100px;
  color: azure;
}

.scoreboard-title{
  color: transparent;
	font-family: "Russo One", sans-serif;
	text-transform: uppercase;
	font-size: 5em;
	transform: translatey(5px);
	background: linear-gradient(
		cornflowerblue 30%,
		white,
		darkmagenta 60%,
		cornflowerblue 100%
	);
	background-size: contain;
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px silver;
	filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px magenta);
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}

.scoreboard-buttons {
  display: flex;
  justify-content: space-between;
}

.score_table{
  width: 60%;
}
.table_div{
  width: 60%;
  align-items: center;
  text-align: center;
  margin-left: 20%;
}


.table_container {
  max-height: 600px; 
  overflow: auto;
  width: 100%;
}
.score-popup{
  cursor: pointer;
}


.top-players-container {
  overflow: hidden;
  position: relative;
  width: 100%; 
  height: 100px; 
  margin-top: 30px;
}
.top-players-header{
  color: transparent;
	font-family: "Russo One", sans-serif;
	font-size: 1em;
	transform: translatey(2px);
	background: linear-gradient(
		cornflowerblue 30%,
		rgb(148, 0, 247),
		darkmagenta 60%,
		cornflowerblue 100%
	);
	background-size: contain;
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px silver;
	filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px magenta);
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}
.top-players-list {
  list-style:disc;
  margin: 0;
  padding: 0;
  display: flex;
  animation: marquee 15s linear infinite; 
}

.top-players-list li {
  margin-right: 20px;
  white-space: nowrap;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


#big {
  width: 100px;
}

#disabled {
  background-color: #3a393c;
}
@media screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px */

  .game-container {
    /* Modify the game container styles for smaller screens */
    padding: 20px;
  }

 
}

@media screen and (max-width: 480px) {
  /* Styles for screens smaller than 480px */
  .game-container {
    /* Modify the game container styles for smaller screens */
    padding: 40px;
  }
 
}


.glow-on-hover {
  width: 300px;
  height: 70px;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgb(105, 0, 204);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transform: scale(1.2);
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-1px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
  
}

.glow-on-hover:active:after {
  background: transparent;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  
}

.glow-on-hover:hover:before {
  opacity: 1;
  transform: scale(1);
}
.glow-on-hover.clicked {
  /* Style for the button when it's clicked */
  transform: scale(1.2); /* Increase the size by 20% when clicked */
}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  font-weight: bolder;
  border-radius: 10px;
}
.new-g-btn{
  color: white;
	font-weight: 100;
	font-size: 1.4em;
	text-shadow: 0 0 3px magenta, 0 0 7px magenta, 0 0 15px black, 0 0 15px black;
	animation: hover 1s ease-in-out infinite;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}